# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
__pycache__/
__pycache__

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.mo
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# If you are using SQLite3 as your database
db.sqlite3

# If you are using PostgreSQL as your database
*.pgdata

# If you are using MySQL as your database
*.sql



# If you are using virtualenv
venv/
ENV/
env/
.venv/
.env/

# If you are using pipenv
Pipfile.lock

# If you are using pyenv
.python-version

# If you are using Jupyter Notebook
.ipynb_checkpoints

# If you are using PyCharm
.idea/

# If you are using VSCode
.vscode/

# If you are using coverage.py to generate coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# If you are using pytest
.pytest_cache/

# If you are using Sphinx documentation
docs/_build/

# If you are using pyenv
.python-version

# If you are using celery
celerybeat-schedule

# If your build process includes running tests, coverage, etc.
.tox/
.nox/

# If you are using pre-commit
.pre-commit-config.yaml
.pre-commit-hooks.yaml

# If you are using EditorConfig
.editorconfig

# If you are using any other editor/IDE
*.swp
*~
.project
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# If you are using macOS
.DS_Store

# If you are using Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# If you are using Linux
*~
.nfs*

# If you are using dotenv
.env

#UML
classes_estreladovale.png
classes_estreladovale.dot
packages_estreladovale.png
packages_estreladovale.dot
db.json
pyreverse