/* Modal Styles */
.modal {
    display: none; /* Escondido por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .modal-buttons {
    margin-top: 20px;
  }
  
  .modal-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button.confirm {
    background-color: #4caf50;
    color: white;
  }
  
  button.confirm:hover {
    background-color: #45a049;
  }
  
  button.cancel {
    background-color: #f44336;
    color: white;
  }
  
  button.cancel:hover {
    background-color: #d32f2f;
  }
  #cor-texto{
    color: black;
  }




.retangulo-fornecedor-icon {
    position: absolute;
    top: 40px;
    left: 420px;
    border-radius: 16px;
    width: 980px;
    height: 940px;
}
.sapoo-1-icon {
    position: absolute;
    top: 980px;
    left: 873px;
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.desenvolvido-por-sapoo {
    position: absolute;
    top: 1012px;
    left: 839px;
    font-size: 8px;
    color: rgba(68, 68, 68, 0.3);
}
.cruz-1-icon {
    position: absolute;
    top: 60px;
    left: 1356px;
    width: 24px;
    height: 24px;
    overflow: hidden;
    cursor: pointer;
}

.definicoes-1-icon {
    left: 35px;
    width: 32px;
    position: relative;
    height: 32px;
    overflow: hidden;
    flex-shrink: 0;
    color: white;
}
.configuraes-parent {
    position: absolute;
    top: 40px;
    left: 751px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    font-size: 32px;
    color: #444;
}
.gerenciar-usurios {
    position: relative;
    font-weight: 600;
    font-family: Quicksand;
    color: white;
}
.gerenciar-usuarios{
    position: relative;
    font-weight: 600;
    font-family: Quicksand;
    color: black;
    left: 40px;
}
.gerenciar-usurios-wrapper {
    position: absolute;
    top: 188px;
    left: 460px;
    border-radius: 8px;
    background-color: #6a994e;
    width: 288px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    font-family: Quicksand;
}
.gerenciar-usurios-wrapper:hover{
    background-color: green;
    cursor: pointer;
}
.gerenciar-usurios-container {
    position: absolute;
    top: 113px;
    left: 460px;
    border-radius: 8px;
    background-color: #6a994e;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.gerenciar-usurios-container:hover{
    background-color: green;
    
    cursor: pointer;
    
}

.sair {
    position: absolute;
    top: 900px;
    left: 1300px;
    border-radius: 8px;
    background-color: #6a994e;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.sair:hover{
    background-color: green;
    
    cursor: pointer;
    
}
.novo-bar-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #6a994e;
    width: 380px;
    height: 1040px;
}
.novo-bar2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 380px;
    height: 1040px;
}
.gerenciar {
    position: absolute;
    top: 253px;
    left: 0px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.53);
    text-shadow: 1px 0 0 #6a994e, 0 1px 0 #6a994e, -1px 0 0 #6a994e, 0 -1px 0 #6a994e;
    font-family: Quicksand;
}
.ol {
    position: absolute;
    top: 0px;
    left: 16px;
    font-weight: 600;
    text-shadow: 1px 0 0 #6a994e, 0 1px 0 #6a994e, -1px 0 0 #6a994e, 0 -1px 0 #6a994e;
}
.abigail {
    position: absolute;
    top: 2px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px;
    font-size: 24px;
    color: white;
    font-family: Quicksand;
}
.profile {
    position: absolute;
    top: 903px;
    left: 49px;
    width: 110px;
    height: 94px;
}
.morango-2-icon {
    position: absolute;
    top: 19px;
    left: 13px;
    width: 32px;
    height: 32px;
    overflow: hidden;
}
.menu-bar-child {
    position: absolute;
    top: 774px;
    left: 4.5px;
    max-height: 100%;
    width: 299.5px;
}
.estrela-do-vale {
    margin: 0;
    font-family: Quicksand;
    color: white;
}
.estrela-do-vale-container {
    position: relative;
}
.estrela-do-vale-wrapper {
    position: absolute;
    top: 0px;
    left: 39px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px;
    font-size: 32px;
    color: white;
    font-family: Quicksand;
}
.menu-bar-item {
    position: absolute;
    top: 69px;
    left: 1px;
    max-height: 100%;
    width: 300px;
}
.menu-bar {
    position: absolute;
    top: 44px;
    left: 36px;
    width: 306px;
    height: 997px;
}
.profile-icon {
    position: absolute;
    top: 942px;
    left: 35px;
    width: 58px;
    height: 58px;
    object-fit: cover;
}
.profile-icon:hover{
    cursor: pointer;
    color: black;
}
.novo-bar1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 380px;
    height: 1041px;
    font-size: 16px;
}
.vector-icon {
    position: absolute;
    height: 95.16%;
    width: 100%;
    top: 3.22%;
    right: 0%;
    bottom: 1.62%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.dashboard-wrapper {
    position: absolute;
    height: 100%;
    width: 42.97%;
    top: 0%;
    right: 43.78%;
    bottom: 0%;
    left: 13.24%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px;
    box-sizing: border-box;
    color: white;
    font-family: Quicksand;
    font-size: 24px;
}
.component-36 {
    position: absolute;
    top: 206px;
    left: 10px;
    width: 370px;
    height: 62px;
}
.component-36:hover{
    background-color: rgba(255, 255, 255, 0.507);
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    color: black;
    cursor: pointer;
}

.vector-icon2 {
    position: absolute;
    height: 51.45%;
    width: 8.65%;
    top: 22.58%;
    right: 85.14%;
    bottom: 25.97%;
    left: 6.22%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.produtos-wrapper {
    position: absolute;
    height: 100%;
    width: 36.76%;
    top: 0%;
    right: 50%;
    bottom: 0%;
    left: 13.24%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px;
    box-sizing: border-box;
    color: white;
    font-family: Quicksand;
    font-size: 24px;
}
.component-32 {
    position: absolute;
    top: 458px;
    left: 10px;
    width: 370px;
    height: 62px;
}
.component-32:hover{
    background-color: rgba(255, 255, 255, 0.507);
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    color: black;
    cursor: pointer;
}
.produo-wrapper {
    position: absolute;
    height: 100%;
    width: 38.65%;
    top: 0%;
    right: 48.11%;
    bottom: 0%;
    left: 13.24%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px;
    box-sizing: border-box;
    color: white;
    font-family: Quicksand;
    font-size: 24px;
}
.icone-mao {
    position: absolute;
    height: 51.61%;
    width: 8.65%;
    top: 24.19%;
    right: 85.14%;
    bottom: 24.19%;
    left: 6.22%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.component-35 {
    position: absolute;
    top: 338px;
    left: 10px;
    width: 370px;
    height: 62px;
}
.component-35:hover{
    background-color: rgba(255, 255, 255, 0.507);
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    color: black;
    cursor: pointer;
    color: black;

}
.pedidos-de-venda-wrapper {
    position: absolute;
    height: 100%;
    width: 63.51%;
    top: 0%;
    right: 23.24%;
    bottom: 0%;
    left: 13.24%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px;
    box-sizing: border-box;
    color: white;
    font-family: Quicksand;
    font-size: 24px;
}
.cesta-de-compras-4-icon {
    position: absolute;
    height: 51.61%;
    width: 8.65%;
    top: 22.58%;
    right: 85.14%;
    bottom: 25.81%;
    left: 6.22%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.component-33 {
    position: absolute;
    top: 398px;
    left: 10px;
    width: 370px;
    height: 62px;
}
.component-33:hover{
    background-color: rgba(255, 255, 255, 0.507);
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    color: black;
    cursor: pointer;
}

.clientes-wrapper {
    position: absolute;
    height: 100%;
    width: 32.97%;
    top: 0%;
    right: 53.51%;
    bottom: 0%;
    left: 13.51%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px;
    box-sizing: border-box;
    color: white;
    font-family: Quicksand;
    font-size: 24px;
}
.component-31 {
    position: absolute;
    top: 518px;
    left: 10px;
    width: 370px;
    height: 62px;
}
.component-31:hover{
    background-color: rgba(255, 255, 255, 0.507);
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    color: black;
    cursor: pointer;
}

.vector-icon6 {
    position: absolute;
    height: 95.16%;
    width: 100%;
    top: 3.23%;
    right: 0%;
    bottom: 1.61%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.fornecedores-wrapper {
    position: absolute;
    height: 100%;
    width: 32.97%;
    top: 0%;
    right: 44.32%;
    bottom: 0%;
    left: 22.7%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px;
    box-sizing: border-box;
    color: white;
    font-family: Quicksand;
    font-size: 24px;
}
.vector-icon7 {
    position: absolute;
    height: 47.26%;
    width: 8.65%;
    top: 27.42%;
    right: 85.14%;
    bottom: 25.32%;
    left: 6.22%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.component-47 {
    position: absolute;
    top: 578px;
    left: 10px;
    width: 370px;
    height: 62px;
}
.component-47:hover{
    background-color: rgba(255, 255, 255, 0.507);
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    color: black;
    cursor: pointer;
}
.vector-icon8 {
    position: absolute;
    height: 95.16%;
    width: 100%;
    top: 1.61%;
    right: 0%;
    bottom: 3.23%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.relatrios-wrapper {
    position: absolute;
    height: 100%;
    width: 40.54%;
    top: 0%;
    right: 45.14%;
    bottom: 0%;
    left: 14.32%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px;
    box-sizing: border-box;
    color: white;
    font-family: Quicksand;
    font-size: 24px;
}
.contract-fill0-wght400-grad0-o-icon {
    position: absolute;
    height: 51.61%;
    width: 8.65%;
    top: 24.19%;
    right: 84.32%;
    bottom: 24.19%;
    left: 7.03%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.component-29 {
    position: absolute;
    top: 733px;
    left: 9px;
    width: 370px;
    height: 62px;
}
.component-29:hover{
    font: Quiksand;
    background-color: rgba(255, 255, 255, 0.507);
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    color: black;
    cursor: pointer;
}

.vector-icon9 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.configuraes2 {
    position: absolute;
    top: 23.73%;
    left: 18.92%;
    font-weight: 600;
    font-family: Quicksand;
    color:white;
    font-size: 24px;
}
.definicoes-2-icon {
    position: absolute;
    height: 54.24%;
    width: 8.65%;
    top: 23.73%;
    right: 83.78%;
    bottom: 22.03%;
    left: 7.57%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.component-40 {
    position: absolute;
    top: 838px;
    left: 10px;
    width: 370px;
    height: 59px;
    color: black;
}
.component-40:hover{
    background-color: rgba(255, 255, 255, 0.507);
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    color: black;
    cursor: pointer;
}
.novo-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 380px;
    height: 1041px;
    text-align: left;
}
.configuraes {
    width: 100%;
    position: relative;
    background-color: #efffec;
    height: 1024px;
    overflow: hidden;
    text-align: center;
    font-size: 24px;
    color: #efffec;
    font-family: Quicksand;

}
.configuracoes{
    left: -100px;
    top: 500px;
    color: black;
}

.container-pesquisa-configuracoes {
    position: relative;
    top: 0px;
    right: 0px;
    left: 220px;
    width: 190%;
    height: 1024px;
    font-family: Quicksand;
    object-fit: cover;
}

