.retangulo-fornecedor-icon {
    position: absolute;
    top: 40px;
    left: 420px;
    border-radius: 16px;
    width: 980px;
    height: 940px;
}
.cruz-1-icon {
    position: absolute;
    top: 60px;
    left: 1356px;
    width: 24px;
    height: 24px;
    overflow: hidden;
    cursor: pointer;
}
.produtos {
    position: relative;
    font-weight: 600;
}

.caixa-aberta-3-icon {
    width: 32px;
    position: relative;
    height: 32px;
    overflow: hidden;
    flex-shrink: 0;
}
.statusfornecedores {
    position: absolute;
    top: 226px;
    left: 480px;
    border-radius: 8px;
    width: 300px;
    height: 32px;
}
.categoriaselect {
    position: absolute;
    top: 226px;
    left: 1120px;
    border-radius: 8px;
    width: 220px;
    height: 32px;
}
.produtos-parent {
    position: absolute;
    top: 42px;
    left: 810px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    text-align: center;
    font-size: 32px;
}
#codigo {
    width: 100%; /* Faz o input ocupar toda a largura do seu contêiner */
    padding: 0.2px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border: 2px solid #ccc; /* Borda cinza clara */
    border-radius: 6px; /* Bordas arredondadas */
    outline: none; /* Remove o contorno padrão */
    transition: border-color 0.3s ease; /* Transição suave para a borda */
    position: absolute;
    top: 226px;
    left: 480px;
    border-radius: 8px;
    width: 120px;
    height: 32px;
}
#codigo:hover {
    border-color: #007BFF; /* Borda azul ao focar */
    box-shadow: 0 0 17px rgba(0, 123, 255, 0.5); /* Sombras suaves ao redor */
    border-radius: 12px;
    transition: border-radius 0.6s ease;
    transition: border-color 0.6s ease;
}
#cpf {
    width: 100%; /* Faz o input ocupar toda a largura do seu contêiner */
    padding: 0.2px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border: 2px solid #ccc; /* Borda cinza clara */
    border-radius: 6px; /* Bordas arredondadas */
    outline: none; /* Remove o contorno padrão */
    transition: border-color 0.3s ease; /* Transição suave para a borda */
    position: absolute;
    top: 226px;
    left: 800px;
    border-radius: 8px;
    width: 300px;
    height: 32px;
}
#cpf:hover {
    border-color: #007BFF; /* Borda azul ao focar */
    box-shadow: 0 0 17px rgba(0, 123, 255, 0.5); /* Sombras suaves ao redor */
    border-radius: 12px;
    transition: border-radius 0.6s ease;
    transition: border-color 0.6s ease;
}
#ie {
    width: 100%; /* Faz o input ocupar toda a largura do seu contêiner */
    padding: 0.2px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border: 2px solid #ccc; /* Borda cinza clara */
    border-radius: 6px; /* Bordas arredondadas */
    outline: none; /* Remove o contorno padrão */
    transition: border-color 0.3s ease; /* Transição suave para a borda */
    position: absolute;
    top: 226px;
    left: 1120px;
    border-radius: 8px;
    width: 220px;
    height: 32px;
}
#ie:hover {
    border-color: #007BFF; /* Borda azul ao focar */
    box-shadow: 0 0 17px rgba(0, 123, 255, 0.5); /* Sombras suaves ao redor */
    border-radius: 12px;
    transition: border-radius 0.6s ease;
    transition: border-color 0.6s ease;
}
#nome-fantasia1 {
    width: 100%; /* Faz o input ocupar toda a largura do seu contêiner */
    padding: 0.2px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border: 2px solid #ccc; /* Borda cinza clara */
    border-radius: 6px; /* Bordas arredondadas */
    outline: none; /* Remove o contorno padrão */
    transition: border-color 0.3s ease; /* Transição suave para a borda */
    position: absolute;
    top: 306px;
    left: 480px;
    border-radius: 8px;
    width: 300px;
    height: 32px;
}
#nome-fantasia1:hover {
    border-color: #007BFF; /* Borda azul ao focar */
    box-shadow: 0 0 17px rgba(0, 123, 255, 0.5); /* Sombras suaves ao redor */
    border-radius: 12px;
    transition: border-radius 0.6s ease;
    transition: border-color 0.6s ease;
}
#razao-social {
    width: 100%; /* Faz o input ocupar toda a largura do seu contêiner */
    padding: 0.2px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border: 2px solid #ccc; /* Borda cinza clara */
    border-radius: 6px; /* Bordas arredondadas */
    outline: none; /* Remove o contorno padrão */
    transition: border-color 0.3s ease; /* Transição suave para a borda */
    position: absolute;
    top: 306px;
    left: 800px;
    border-radius: 8px;
    width: 300px;
    height: 32px;
}
#razao-social:hover {
    border-color: #007BFF; /* Borda azul ao focar */
    box-shadow: 0 0 17px rgba(0, 123, 255, 0.5); /* Sombras suaves ao redor */
    border-radius: 12px;
    transition: border-radius 0.6s ease;
    transition: border-color 0.6s ease;
}
#im {
    width: 100%; /* Faz o input ocupar toda a largura do seu contêiner */
    padding: 0.2px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border: 2px solid #ccc; /* Borda cinza clara */
    border-radius: 6px; /* Bordas arredondadas */
    outline: none; /* Remove o contorno padrão */
    transition: border-color 0.3s ease; /* Transição suave para a borda */
    position: absolute;
    top: 306px;
    left: 1120px;
    border-radius: 8px;
    width: 220px;
    height: 32px;
}
#im:hover {
    border-color: #007BFF; /* Borda azul ao focar */
    box-shadow: 0 0 17px rgba(0, 123, 255, 0.5); /* Sombras suaves ao redor */
    border-radius: 12px;
    transition: border-radius 0.6s ease;
    transition: border-color 0.6s ease;
}
.novo-produto-child {
    position: absolute;
    top: 180px;
    left: 460px;
    border-radius: 8px;
    background-color: rgba(106, 153, 78, 0.08);
    border: 2px solid rgba(106, 153, 78, 0.4);
    box-sizing: border-box;
    width: 900px;
    height: 180px;
}
.novo-produto-item {
    position: absolute;
    top: 680px;
    left: 460px;
    border-radius: 8px;
    background-color: rgba(106, 153, 78, 0.08);
    border: 2px solid rgba(106, 153, 78, 0.4);
    box-sizing: border-box;
    width: 900px;
    height: 200px;
}
.novo-produto-inner {
    position: absolute;
    top: 420px;
    left: 460px;
    border-radius: 8px;
    background-color: rgba(106, 153, 78, 0.08);
    border: 2px solid rgba(106, 153, 78, 0.4);
    box-sizing: border-box;
    width: 900px;
    height: 200px;
}
.dados-gerais {
    position: absolute;
    top: 136px;
    left: 833px;
    font-size: 24px;
    font-weight: 600;
    color: #000;
    text-align: center;
}
.informaes-gerais {
    position: absolute;
    top: 636px;
    left: 802px;
    font-size: 24px;
    font-weight: 600;
    color: #000;
    text-align: center;
}
.condies-de-crescimento {
    position: absolute;
    top: 376px;
    left: 712px;
    font-size: 24px;
    font-weight: 600;
    color: #000;
    text-align: center;
}
.cdigo {
    position: absolute;
    top: 200px;
    left: 480px;
    font-weight: 600;
}
.descrio {
    position: absolute;
    top: 200px;
    left: 799px;
    font-weight: 600;
}
.grupo {
    position: absolute;
    top: 280px;
    left: 800px;
    font-weight: 600;
}
.sub-grupo {
    position: absolute;
    top: 280px;
    left: 1120px;
    font-weight: 600;
}
#Observação {
    width: 100%; /* Faz o input ocupar toda a largura do seu contêiner */
    padding: 0.2px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border: 2px solid #ccc; /* Borda cinza clara */
    border-radius: 6px; /* Bordas arredondadas */
    outline: none; /* Remove o contorno padrão */
    transition: border-color 0.3s ease; /* Transição suave para a borda */
    position: absolute;
    top: 723px;
    left: 480px;
    border-radius: 8px;
    width: 420px;
    height: 120px;
}

#Observação:hover {
    border-color: #007BFF; /* Borda azul ao focar */
    box-shadow: 0 0 17px rgba(0, 123, 255, 0.5); /* Sombras suaves ao redor */
    border-radius: 12px;
    transition: border-radius 0.6s ease;
    transition: border-color 0.6s ease;
}
#Usuario {
    width: 100%; /* Faz o input ocupar toda a largura do seu contêiner */
    padding: 0.2px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border: 2px solid #ccc; /* Borda cinza clara */
    border-radius: 6px; /* Bordas arredondadas */
    outline: none; /* Remove o contorno padrão */
    transition: border-color 0.3s ease; /* Transição suave para a borda */
    position: absolute;
    top: 810px;
    left: 919px;
    border-radius: 8px;
    width: 200px;
    height: 32px;
}

#Usuario:hover {
    border-color: #007BFF; /* Borda azul ao focar */
    box-shadow: 0 0 17px rgba(0, 123, 255, 0.5); /* Sombras suaves ao redor */
    border-radius: 12px;
    transition: border-radius 0.6s ease;
    transition: border-color 0.6s ease;
}
#ID-produto {
    width: 100%; /* Faz o input ocupar toda a largura do seu contêiner */
    padding: 0.2px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border: 2px solid #ccc; /* Borda cinza clara */
    border-radius: 6px; /* Bordas arredondadas */
    outline: none; /* Remove o contorno padrão */
    transition: border-color 0.3s ease; /* Transição suave para a borda */
    position: absolute;
    top: 723px;
    left: 1140px;
    border-radius: 8px;
    width: 200px;
    height: 32px;
}

#ID-produto:hover {
    border-color: #007BFF; /* Borda azul ao focar */
    box-shadow: 0 0 17px rgba(0, 123, 255, 0.5); /* Sombras suaves ao redor */
    border-radius: 12px;
    transition: border-radius 0.6s ease;
    transition: border-color 0.6s ease;
}
#Data-cadastro {
    width: 100%; /* Faz o input ocupar toda a largura do seu contêiner */
    padding: 0.2px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border: 2px solid #ccc; /* Borda cinza clara */
    border-radius: 6px; /* Bordas arredondadas */
    outline: none; /* Remove o contorno padrão */
    transition: border-color 0.3s ease; /* Transição suave para a borda */
    position: absolute;
    top: 723px;
    left: 919px;
    border-radius: 8px;
    width: 200px;
    height: 32px;
}

#Data-cadastro:hover {
    border-color: #007BFF; /* Borda azul ao focar */
    box-shadow: 0 0 17px rgba(0, 123, 255, 0.5); /* Sombras suaves ao redor */
    border-radius: 12px;
    transition: border-radius 0.6s ease;
    transition: border-color 0.6s ease;
}
#Temperatura {
    width: 100%; /* Faz o input ocupar toda a largura do seu contêiner */
    padding: 0.2px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border: 2px solid #ccc; /* Borda cinza clara */
    border-radius: 6px; /* Bordas arredondadas */
    outline: none; /* Remove o contorno padrão */
    transition: border-color 0.3s ease; /* Transição suave para a borda */
    position: absolute;
    top: 466px;
    left: 480px;
    border-radius: 8px;
    width: 200px;
    height: 32px;
}
#Temperatura:hover {
    border-color: #007BFF; /* Borda azul ao focar */
    box-shadow: 0 0 17px rgba(0, 123, 255, 0.5); /* Sombras suaves ao redor */
    border-radius: 12px;
    transition: border-radius 0.6s ease;
    transition: border-color 0.6s ease;
}
#Umidade {
    width: 100%; /* Faz o input ocupar toda a largura do seu contêiner */
    padding: 0.2px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border: 2px solid #ccc; /* Borda cinza clara */
    border-radius: 6px; /* Bordas arredondadas */
    outline: none; /* Remove o contorno padrão */
    transition: border-color 0.3s ease; /* Transição suave para a borda */
    position: absolute;
    top: 466px;
    left: 700px;
    border-radius: 8px;
    width: 200px;
    height: 32px;
}

#Umidade:hover {
    border-color: #007BFF; /* Borda azul ao focar */
    box-shadow: 0 0 17px rgba(0, 123, 255, 0.5); /* Sombras suaves ao redor */
    border-radius: 12px;
    transition: border-radius 0.6s ease;
    transition: border-color 0.6s ease;
}
#Iluminação {
    width: 100%; /* Faz o input ocupar toda a largura do seu contêiner */
    padding: 0.2px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border: 2px solid #ccc; /* Borda cinza clara */
    border-radius: 6px; /* Bordas arredondadas */
    outline: none; /* Remove o contorno padrão */
    transition: border-color 0.3s ease; /* Transição suave para a borda */
    position: absolute;
    top: 466px;
    left: 920px;
    border-radius: 8px;
    width: 200px;
    height: 32px;
}

#Iluminação:hover {
    border-color: #007BFF; /* Borda azul ao focar */
    box-shadow: 0 0 17px rgba(0, 123, 255, 0.5); /* Sombras suaves ao redor */
    border-radius: 12px;
    transition: border-radius 0.6s ease;
    transition: border-color 0.6s ease;
}
#Intensidade-led {
    width: 100%; /* Faz o input ocupar toda a largura do seu contêiner */
    padding: 0.2px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border: 2px solid #ccc; /* Borda cinza clara */
    border-radius: 6px; /* Bordas arredondadas */
    outline: none; /* Remove o contorno padrão */
    transition: border-color 0.3s ease; /* Transição suave para a borda */
    position: absolute;
    top: 546px;
    left: 920px;
    border-radius: 8px;
    width: 200px;
    height: 32px;
}

#Intensidade-led:hover {
    border-color: #007BFF; /* Borda azul ao focar */
    box-shadow: 0 0 17px rgba(0, 123, 255, 0.5); /* Sombras suaves ao redor */
    border-radius: 12px;
    transition: border-radius 0.6s ease;
    transition: border-color 0.6s ease;
}
#Nível-agua {
    width: 100%; /* Faz o input ocupar toda a largura do seu contêiner */
    padding: 0.2px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border: 2px solid #ccc; /* Borda cinza clara */
    border-radius: 6px; /* Bordas arredondadas */
    outline: none; /* Remove o contorno padrão */
    transition: border-color 0.3s ease; /* Transição suave para a borda */
    position: absolute;
    top: 546px;
    left: 1140px;
    border-radius: 8px;
    width: 200px;
    height: 32px;
}

#Nível-agua:hover {
    border-color: #007BFF; /* Borda azul ao focar */
    box-shadow: 0 0 17px rgba(0, 123, 255, 0.5); /* Sombras suaves ao redor */
    border-radius: 12px;
    transition: border-radius 0.6s ease;
    transition: border-color 0.6s ease;
}
#Crescimento {
    width: 100%; /* Faz o input ocupar toda a largura do seu contêiner */
    padding: 0.2px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border: 2px solid #ccc; /* Borda cinza clara */
    border-radius: 6px; /* Bordas arredondadas */
    outline: none; /* Remove o contorno padrão */
    transition: border-color 0.3s ease; /* Transição suave para a borda */
    position: absolute;
    top: 466px;
    left: 1140px;
    border-radius: 8px;
    width: 200px;
    height: 32px;
}

#Crescimento:hover {
    border-color: #007BFF; /* Borda azul ao focar */
    box-shadow: 0 0 17px rgba(0, 123, 255, 0.5); /* Sombras suaves ao redor */
    border-radius: 12px;
    transition: border-radius 0.6s ease;
    transition: border-color 0.6s ease;
}
#Solução-nutritiva {
    width: 100%; /* Faz o input ocupar toda a largura do seu contêiner */
    padding: 0.2px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border: 2px solid #ccc; /* Borda cinza clara */
    border-radius: 6px; /* Bordas arredondadas */
    outline: none; /* Remove o contorno padrão */
    transition: border-color 0.3s ease; /* Transição suave para a borda */
    position: absolute;
    top: 546px;
    left: 480px;
    border-radius: 8px;
    width: 420px;
    height: 54px;
}

#Solução-nutritiva:hover {
    border-color: #007BFF; /* Borda azul ao focar */
    box-shadow: 0 0 17px rgba(0, 123, 255, 0.5); /* Sombras suaves ao redor */
    border-radius: 12px;
    transition: border-radius 0.6s ease;
    transition: border-color 0.6s ease;
}
.categoria {
    position: absolute;
    top: 200px;
    left: 1120px;
    font-weight: 600;
}
.crescimento-dias {
    position: absolute;
    top: 440px;
    left: 1140px;
    font-weight: 600;
}
.rectangle-icon {
    position: absolute;
    top: 226px;
    left: 480px;
    border-radius: 8px;
    width: 120px;
    height: 32px;
}
.rectangle-icon:hover{
    cursor: text;
}
.novo-produto-child1 {
    position: absolute;
    top: 226px;
    left: 800px;
    border-radius: 8px;
    width: 260px;
    height: 32px;
}
.novo-produto-child1:hover{
    cursor: text;
}
.novo-produto-child2 {
    position: absolute;
    top: 306px;
    left: 800px;
    border-radius: 8px;
    width: 260px;
    height: 32px;
}
.novo-produto-child2:hover{
    cursor: text;
}
.novo-produto-child3 {
    position: absolute;
    top: 306px;
    left: 1080px;
    border-radius: 8px;
    width: 260px;
    height: 32px;
}
.novo-produto-child3:hover{
    cursor: text;
}
.novo-produto-child4 {
    position: absolute;
    top: 226px;
    left: 1080px;
    border-radius: 8px;
    width: 260px;
    height: 32px;
}
.novo-produto-child4:hover{
    cursor: text;
}
.novo-produto-child5 {
    position: absolute;
    top: 466px;
    left: 1140px;
    border-radius: 8px;
    width: 200px;
    height: 32px;
}
.novo-produto-child5:hover{
    cursor: text;
}
.novo-produto-child6 {
    position: absolute;
    top: 466px;
    left: 920px;
    border-radius: 8px;
    width: 200px;
    height: 32px;
}
.novo-produto-child6:hover{
    cursor: text;
}
.novo-produto-child7 {
    position: absolute;
    top: 466px;
    left: 700px;
    border-radius: 8px;
    width: 200px;
    height: 32px;
}
.novo-produto-child7:hover{
    cursor: text;
}
.novo-produto-child8 {
    position: absolute;
    top: 466px;
    left: 480px;
    border-radius: 8px;
    width: 200px;
    height: 32px;
}
.novo-produto-child8:hover{
    cursor: text;
}
.data-cadastro {
    position: absolute;
    top: 695px;
    left: 919px;
    font-weight: 600;
    display: inline-block;
    width: 140px;
}
.Usuario {
    position: absolute;
    top: 780px;
    left: 919px;
    font-weight: 600;
    display: inline-block;
    width: 140px;
}
.ID-produto {
    position: absolute;
    top: 695px;
    left: 1140px;
    font-weight: 600;
    display: inline-block;
    width: 140px;
}
.novo-produto-child9 {
    position: absolute;
    top: 747px;
    left: 1200px;
    border-radius: 8px;
    width: 140px;
    height: 32px;
}
.novo-produto-child9:hover{
    cursor: text;
}
.fornecedor {
    position: absolute;
    top: 280px;
    left: 479px;
    font-weight: 600;
    display: inline-block;
    width: 140px;
}
.observao {
    position: absolute;
    top: 695px;
    left: 480px;
    font-weight: 600;
    display: inline-block;
    width: 140px;
}
.novo-produto-child10 {
    position: absolute;
    top: 306px;
    left: 480px;
    border-radius: 8px;
    width: 300px;
    height: 32px;
}
.novo-produto-child10:hover{
    cursor: text;
}
.novo-produto-child11 {
    position: absolute;
    top: 723px;
    left: 480px;
    border-radius: 8px;
    width: 700px;
    height: 56px;
}
.novo-produto-child11:hover{
    cursor: text;
}
.temperatura {
    position: absolute;
    top: 440px;
    left: 480px;
    font-weight: 600;
    display: inline-block;
    width: 140px;
}
.umidade {
    position: absolute;
    top: 440px;
    left: 699px;
    font-weight: 600;
    display: inline-block;
    width: 140px;
}
.iluminao {
    position: absolute;
    top: 440px;
    left: 919px;
    font-weight: 600;
    display: inline-block;
    width: 140px;
}
.Intensidade-led {
    position: absolute;
    top: 520px;
    left: 919px;
    font-weight: 600;
    display: inline-block;
    width: 140px;
}
.Nível-agua {
    position: absolute;
    top: 520px;
    left: 1140px;
    font-weight: 600;
    display: inline-block;
    width: 140px;
}
.soluo-nutritiva {
    position: absolute;
    top: 520px;
    left: 480px;
    font-weight: 600;
    display: inline-block;
    width: 187px;
}
.novo-produto-child12 {
    position: absolute;
    top: 546px;
    left: 480px;
    border-radius: 8px;
    width: 860px;
    height: 54px;
}
.novo-produto-child12:hover{
    cursor: text;
}
.status {
    position: absolute;
    top: 200px;
    left: 479px;
    font-weight: 600;
}
.novo-produto-child13 {
    position: absolute;
    top: 226px;
    left: 620px;
    border-radius: 8px;
    width: 160px;
    height: 32px;
}
.novo-produto-child13:hover{
    cursor: pointer;
}
.down-arrow-icon {
    position: absolute;
    top: 236px;
    left: 759px;
    width: 15px;
    height: 15px;
    object-fit: cover;
}
.disco-1-1 {
    width: 16px;
    position: relative;
    height: 16px;
    overflow: hidden;
    flex-shrink: 0;
}
.salvar {
    width: 48px;
    position: relative;
    font-weight: 500;
    display: inline-block;
    flex-shrink: 0;
}
.disco-1-1-parent {
    position: absolute;
    top: 913px;
    left: 1280px;
    border-radius: 8px;
    background-color: #6a994e;
    width: 100px;
    height: 47px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    gap: 7px;
    text-align: center;
    font-size: 16px;
    color: #efffec;
}
.disco-1-1-parent:hover{
    background-color: #6A994E99;
    cursor: pointer;
}
.sapoo-1-icon {
    position: absolute;
    top: 0px;
    left: 34px;
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.desenvolvido-por-sapoo {
    position: absolute;
    top: 32px;
    left: 0px;
}
.sapooooooooo {
    position: absolute;
    top: 980px;
    left: 856px;
    width: 108px;
    height: 42px;
    text-align: center;
    font-size: 8px;
    color: rgba(68, 68, 68, 0.3);
}
.novo-bar-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #6a994e;
    width: 380px;
    height: 1040px;
}
.novo-bar2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 380px;
    height: 1040px;
}
.gerenciar {
    position: absolute;
    top: 253px;
    left: 0px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.53);
    text-shadow: 1px 0 0 #6a994e, 0 1px 0 #6a994e, -1px 0 0 #6a994e, 0 -1px 0 #6a994e;
    font-family: Quicksand;
}
.ol {
    position: absolute;
    top: 0px;
    left: 16px;
    font-weight: 600;
    text-shadow: 1px 0 0 #6a994e, 0 1px 0 #6a994e, -1px 0 0 #6a994e, 0 -1px 0 #6a994e;
}
.abigail {
    position: absolute;
    top: 2px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px;
    font-size: 24px;
    font-family: Quicksand;
}
.profile {
    position: absolute;
    top: 903px;
    left: 49px;
    width: 110px;
    height: 94px;
}
.morango-2-icon {
    position: absolute;
    top: 19px;
    left: 13px;
    width: 32px;
    height: 32px;
    overflow: hidden;
}
.menu-bar-child {
    position: absolute;
    top: 774px;
    left: 4.5px;
    max-height: 100%;
    width: 299.5px;
}
.estrela-do-vale {
    margin: 0;
    font-family: Quicksand;
}
.estrela-do-vale-container {
    position: relative;
    font-family: Quicksand;
}
.estrela-do-vale-wrapper {
    position: absolute;
    top: 0px;
    left: 39px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px;
    font-size: 32px;
    font-family: Quicksand;
}
.menu-bar-item {
    position: absolute;
    top: 69px;
    left: 1px;
    max-height: 100%;
    width: 300px;
}
.menu-bar {
    position: absolute;
    top: 44px;
    left: 36px;
    width: 306px;
    height: 997px;
}
.profile-icon {
    position: absolute;
    top: 942px;
    left: 35px;
    width: 58px;
    height: 58px;
    object-fit: cover;
}
.profile-icon:hover{
    cursor: pointer;
}
.novo-bar1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 380px;
    height: 1041px;
    font-size: 16px;
}
.vector-icon {
    position: absolute;
    height: 95.16%;
    width: 100%;
    top: 3.22%;
    right: 0%;
    bottom: 1.62%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.dashboard-wrapper {
    position: absolute;
    height: 100%;
    width: 42.97%;
    top: 0%;
    right: 43.78%;
    bottom: 0%;
    left: 13.24%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px;
    box-sizing: border-box;
    font-family: Quicksand;
}
.component-36 {
    position: absolute;
    top: 206px;
    left: 10px;
    width: 370px;
    height: 62px;
}
.component-36:hover{
    background-color: white;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    color: black;
    cursor: pointer;
}
.vector-icon2 {
    position: absolute;
    height: 51.45%;
    width: 8.65%;
    top: 22.58%;
    right: 85.14%;
    bottom: 25.97%;
    left: 6.22%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.produtos-wrapper {
    position: absolute;
    height: 100%;
    width: 36.76%;
    top: 0%;
    right: 50%;
    bottom: 0%;
    left: 13.24%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px;
    box-sizing: border-box;
    font-family: Quicksand;
}
.component-32 {
    position: absolute;
    top: 458px;
    left: 10px;
    width: 370px;
    height: 62px;
}
.component-32:hover{
    background-color: white;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    color: black;
    cursor: pointer;
}
.produo-wrapper {
    position: absolute;
    height: 100%;
    width: 38.65%;
    top: 0%;
    right: 48.11%;
    bottom: 0%;
    left: 13.24%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px;
    box-sizing: border-box;
    font-family: Quicksand;
}
.icone-mao {
    position: absolute;
    height: 51.61%;
    width: 8.65%;
    top: 24.19%;
    right: 85.14%;
    bottom: 24.19%;
    left: 6.22%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.component-35 {
    position: absolute;
    top: 338px;
    left: 10px;
    width: 370px;
    height: 62px;
}
.component-35:hover{
    background-color: white;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    color: black;
    cursor: pointer;
}
.pedidos-de-venda-wrapper {
    position: absolute;
    height: 100%;
    width: 63.51%;
    top: 0%;
    right: 23.24%;
    bottom: 0%;
    left: 13.24%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px;
    box-sizing: border-box;
    font-family: Quicksand;
}
.cesta-de-compras-4-icon {
    position: absolute;
    height: 51.61%;
    width: 8.65%;
    top: 22.58%;
    right: 85.14%;
    bottom: 25.81%;
    left: 6.22%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.component-33 {
    position: absolute;
    top: 398px;
    left: 10px;
    width: 370px;
    height: 62px;
}
.component-33:hover{
    background-color: white;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    color: black;
    cursor: pointer;
}
.clientes-wrapper {
    position: absolute;
    height: 100%;
    width: 32.97%;
    top: 0%;
    right: 53.51%;
    bottom: 0%;
    left: 13.51%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px;
    box-sizing: border-box;
    font-family: Quicksand;
}
.component-31 {
    position: absolute;
    top: 518px;
    left: 10px;
    width: 370px;
    height: 62px;
}
.component-31:hover{
    background-color: white;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    color: black;
    cursor: pointer;
}
.vector-icon6 {
    position: absolute;
    height: 95.16%;
    width: 100%;
    top: 3.23%;
    right: 0%;
    bottom: 1.61%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.fornecedores-wrapper {
    position: absolute;
    height: 100%;
    width: 32.97%;
    top: 0%;
    right: 44.32%;
    bottom: 0%;
    left: 22.7%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px;
    box-sizing: border-box;
    font-family: Quicksand;
}
.vector-icon7 {
    position: absolute;
    height: 47.26%;
    width: 8.65%;
    top: 27.42%;
    right: 85.14%;
    bottom: 25.32%;
    left: 6.22%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.component-47 {
    position: absolute;
    top: 578px;
    left: 10px;
    width: 370px;
    height: 62px;
}
.component-47:hover{
    background-color: white;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    color: black;
    cursor: pointer;
}
.vector-icon8 {
    position: absolute;
    height: 95.16%;
    width: 100%;
    top: 1.61%;
    right: 0%;
    bottom: 3.23%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.relatrios-wrapper {
    position: absolute;
    height: 100%;
    width: 40.54%;
    top: 0%;
    right: 45.14%;
    bottom: 0%;
    left: 14.32%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px;
    box-sizing: border-box;
    font-family: Quicksand;
}
.contract-fill0-wght400-grad0-o-icon {
    position: absolute;
    height: 51.61%;
    width: 8.65%;
    top: 24.19%;
    right: 84.32%;
    bottom: 24.19%;
    left: 7.03%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.component-29 {
    position: absolute;
    top: 733px;
    left: 9px;
    width: 370px;
    height: 62px;
}
.component-29:hover{
    background-color: white;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    color: black;
    cursor: pointer;
}
.vector-icon9 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.configuraes {
    position: absolute;
    top: 23.73%;
    left: 18.92%;
    font-weight: 600;
    font-family: Quicksand;
}
.definicoes-2-icon {
    position: absolute;
    height: 54.24%;
    width: 8.65%;
    top: 23.73%;
    right: 83.78%;
    bottom: 22.03%;
    left: 7.57%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.component-40 {
    position: absolute;
    top: 838px;
    left: 10px;
    width: 370px;
    height: 59px;
    cursor: pointer;
}
.component-40:hover{
    background-color: white;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    color: black;
    cursor: pointer;
}
.novo-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 380px;
    height: 1041px;
    font-size: 24px;
    color: #efffec;
}
.fechar {
    width: 62px;
    position: relative;
    font-weight: 600;
    display: inline-block;
    flex-shrink: 0;
}
.fechar-wrapper {
    position: relative;
    width: 100px;
    left: 200px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    height: 47px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-family: Quicksand;
}
.fechar-wrapper:hover{
    background-color: #d9d9d9;
}
.frame-div {
    position: absolute;
    top: 913px;
    left: 1164px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
}
.novo-produto {
    width: 100%;
    position: relative;
    background-color: #efffec;
    height: 1024px;
    overflow: hidden;
    text-align: left;
    font-size: 20px;
    color: #444;
    font-family: Quicksand;
}
.container-novo-produtoo {
    position: relative;
    top: 0px;
    right: 0px;
    left: 220px;
    width: 190%;
    height: 1024px;
    font-family: Quicksand;
    object-fit: cover;
}

